/.mixin.out/
/asm/
/astralsorcery/
/backups/
/blueprints/
/craftpresence/
/crash-reports/
/downloads/
/falsepattern/
/llibrary/
/mputils/
/resourcepacks/
/saves/
/screenshots/
/shaderpacks/
/TombManyGraves/
/logs/
/journeymap/
/mods/*
!/mods/*.rar
/config/AppliedEnergistics2/VersionChecker.cfg
/config/AppliedEnergistics2/items.csv
/config/agricraft/json/*
!/config/agricraft/json/defaults/
/config/byg/backups/
/config/brandon3055/ProjectIntelligence/ModDocs/
/config/brandon3055/ProjectIntelligence/DocUpdater/
/config/brandon3055/ProjectIntelligence/PackDocs/
/config/brandon3055/ResourceCache/
/config/splash.properties
/config/jei/bookmarks.ini
/config/jei/worldSettings.cfg
/config/tinker_ore_dict_melting_cache.dat
/config/time.history
/ESM/
/local/ftbchunks/data/
/mystcraft/
/prestige/
/reports/
/simplebackups/
/twitchcrumbs-cache/
/tv-cache/
/vintagefix/
/voxelmap/cache/
.curseclient
BotaniaVars.dat
ds_private_storage.json
crafttweaker.log
minetweaker.log
jei_bookmarks.ini
betterfps.txt
knownkeys.txt
keys.txt
options.txt
optionsof.txt
optionsshaders.txt
o_prof
patchouli_data.json
.ReAuth.cfg
minecraftinstance.json
mtservers.dat
OpenComputersMod-1.7.5.192-lua52-native.64.dll
OpenComputersMod-1.7.5.192-lua53-native.64.dll
OpenComputersMod-1.8.3-52-libjnlua52-windows-x86_64.dll
OpenComputersMod-1.8.3-53-libjnlua53-windows-x86_64.dll
OpenComputersMod-1.8.3-54-libjnlua54-windows-x86_64.dll
roots.log
rhino.local.properties
servers.dat
servers.dat_old
usercache.json
usernamecache.json
